#Tesztjegyzőkönyv

###Tesztelendő program, alkalmazás:

SZFM_Fact_Portal

###Tesztelési környezet:
Google Chrome, Firefox, Microsoft Edge

###Tesztelés tárgya:

Fejlesztői- és Elfogadási teszt

###Tesztelés célja:

Az esetleges rossz funkcionalitás megtalálása, javítása 

###Tesztesetek:
- Teszt 1 : Reszponzivitás vizsgálata:
<br>Az oldal mindhárom fent említett asztali böngészőn reszponzívan viselkedik.</br>  

- Teszt 2 : Főoldal helyes betöltése:
<br>Elvárás az érdekes cikkek megjelenítése véletlenszerű sorrendben, amely teljesül is.</br>  

- Teszt 3 : A főoldalről további menüpontokba való eljutás:
<br>A menüpontokra mutató hivatkozások helyesek, kattintás után a megfelelő helyre jutunk.</br> 

- Teszt 4 : A vicces kategóriából további menüpontokba való eljutás:
<br>A hivatkozások helyesek, kattintás után a megfelelő helyre jutunk.</br>

- Teszt 5 : Az admin belépés menüből további menüpontokba való eljutás:
<br>A hivatkozások helyesek, kattintás után a megfelelő helyre jutunk.</br> 

- Teszt 6 : Like és dislike gomb működése:
<br>Az egérmutató gombok fölé húzására CSS aktiválódik, kattintás után összesíti az adott reakció számát. Megfelel az 
elvárásnak.</br> 

- Teszt 7 : Admin belépés:
<br>Elvárás: megfelelő felhasználónév és jelszó páros esetén az admin kezdőképernyőre kell jutni. Teljesül az elvárás.</br> 

- Teszt 8 : Összes cikk megjelenítése:
<br>Admin bejelentkezés után jelenjen meg balról az első gomb, "Összes cikk" felirattal. Rákattintva az adatbázisban tárolt
összes cikket látnunk kéne. Teszt után tapasztalom, hogy ez is teljesül.</br>

- Teszt 9 : Következő gomb működése:
<br>Az elvárást, miszerint lenyomására az adott kategóriából való újabb, véletlenszerű cikket dob a rendszer, teljesül.
Jól működik.</br> 

- Teszt 10 : Csak adott kategóriába tartozó cikkek megjelenítése:
<br>Elvárás: egy kategóriában csak az adott kategóriájú cikkek kapjanak helyet. Sikeresen teljesül ez a feltétel is, nincs 
a cikkek között témakör szerinti keveredés.</br> 

###Megjegyzés:

A tesztet készítette: Kincs Ákos Levente, 2020.09.27.